.gameWindow {
  margin: auto;
}

.gameStatus {
  width: 800px;
  height: 50px;
  background-color: black;
  margin: auto;
}

.scoreText {
  color: white;
  display: inline-block;
  font-size: 24px;
  font-family: verdana;
  margin: 0 1em 0 1em;
}

.gameLives{
  float: right;
}