

.gameWindow {
  margin: auto;
  border: 1px solid black;
}

.gameStatus {
  width: 800px;
  height: 50px;
  /*background-color: ;*/
  margin: auto;
}

.scoreText {
  display: inline-block;
  font-size: 24px;
  font-family: "Courier new";
  margin: 0 1em 0 1em;
}

.gameLives{
  float: right;
}

/*Settings*/

.toggleSound {
  width: 48px;
  text-align: center;
  background-color: darkgreen
}

.muted {
  background-color: red;
  color: white;
}

.toggleSound p {
  cursor: pointer;
  font-weight: bold;
  font-family: "Courier new";
}

.toggleSound p:hover {
  color: white;
}