/*----------------------------------------------Universal/Main elements----------------------------------------------*/

* {
  font-family: "Courier new";
}

#container {
padding-left: 200px;
margin-top: 20px;
}

.hidden {
  display: none;
}

body {
  background-color: white;
}

button {
  width: 80px;
}

/*----------------------------------------------Forms----------------------------------------------*/

.formContain {
  margin: 2px 1px 1px 800px;
  width: 300px;
  position: absolute;
  text-align: center;
  display: inline-block;
}


/* ----------------------------------------------Game status---------------------------------------------- */

.gameWindow {
  /*margin: auto;*/
  border: 1px solid black;
  display: inline-block;

}

.gameStatus {
  width: 800px;
  height: 50px;
  /*margin: auto;*/
}

.scoreText {
  display: inline-block;
  font-size: 24px;
  font-family: "Courier new";
  margin: 0.3em 1em 0.3em 1em;
}

.gameLives{
  float: right;
}

 /*----------------------------------------------Buttons----------------------------------------------*/

/*button {
  background-color: white;
  color: black;
  border-color: black;
  border-radius: 0;
}

button:hover, button:active, button:focus {
  background-color: grey;
}*/

 /*----------------------------------------------Settings----------------------------------------------*/


/*Button toggling*/

.userButton {
  vertical-align: top;
  width: 48px;
  height: 18px;
  text-align: center;
  background-color: white;
  margin-left: 2em;
  display: inline-block;
  border: 1px solid black;
}

.userButtonDisable {
  background-color: black;
  color: white;
}

.userButton p {
  cursor: pointer;
/*  font-weight: bold;
*/}

.userButton p:hover {
  color: grey;
}

/* Stats window */

.statsWindow {
  border: 3px solid black;
  margin: auto;
  width: 400px;
}
