/*Universal/Main elements*/

#container {
padding-left: 200px;
padding-top: 20px;
}


/*Forms*/

.formContain {
  margin: 2px 1px 1px 800px;
  width: 300px;
  position: absolute;
  text-align: center;
  display: inline-block;
}


/* Game status */

.gameWindow {
  /*margin: auto;*/
  border: 1px solid black;
  display: inline-block;

}

.gameStatus {
  width: 800px;
  height: 50px;
  /*margin: auto;*/
}

.scoreText {
  display: inline-block;
  font-size: 24px;
  font-family: "Courier new";
  margin: 0.3em 1em 0.3em 1em;
}

.gameLives{
  float: right;
}

/*Settings*/

.toggleSound {
  width: 48px;
  text-align: center;
  background-color: darkgreen;
  margin-left: 2em;
}

.muted {
  background-color: red;
  color: white;
}

.toggleSound p {
  cursor: pointer;
  font-weight: bold;
  font-family: "Courier new";
}

.toggleSound p:hover {
  color: white;
}